.navbar-custom {
    background-color: transparent !important; /* Important to override Bootstrap styles */
    box-shadow: none;
  }
  .navbar-inner {
    background: rgba(0,0,0,0.9);
  }
  
  .navbar
  {
      /* Example with a black tint and 0.5 opacity. */
      background-color: rgba(0,0,0,0.5);
      /* RGB of 0,0,0 is black. */
  }